
body{
    background-color: #212121;
}

h2, h3, p, span, legend, summary, label, a{
    color: #fff;
}

.block-movies{
    display: flex;
    flex-direction: row;
}

.movie-view {
    display: flex;
    flex-direction: row;
    max-width: 50vw;
}

.movie-view .image-wrapper{
    display: flex;
}

.node-movie{
    display: flex;
    flex-direction: row;
}

.node-movie .internal-movie{
    width: 30vw;
    height: 80vh;
    background-size: cover;
    background-position: top;
}

.movie-view {
    display: flex;
    flex-direction: row;
    max-width: 34vw;
}

.image-wrapper .movie-img {
    width: 15vw;
    height: 40vh;
    background-size: cover;
    background-position: bottom;
}

.node-movie .content-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.inner-content-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.node-movie .content-wrapper h2{
    font-size: 4rem;
}

.movie-view .text-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.movie-view .movie-sypnosis p{
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.field__label {
    font-size: 36px;
}

.field__item, .actor_item a{
    font-size: 26px;
}

.views-row{
    max-width: 50%;
    padding: 10px;
}

.views-row a{
    text-decoration: none;
    color: #fff;
}

.view-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 520px){
    .view-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .movie-view {
        display: flex;
        flex-direction: column;
        max-width: initial;
    }
    .views-row{
        max-width: initial;
        padding: 10px;
    }
    .image-wrapper .movie-img {
        width: 94vw;
        height: 53vh;
        background-size: cover;
        background-position: bottom;
    }
    
}

.movie-content{
    max-width: 1440px;
    margin: 0 auto
}

.menu--main li a{
    color: #ffffff;

}

#CollapsingNavbar {
    align-items: baseline;
}

.js-form-submit {
    background-color: #212121;
    color: #fff;
    border: 0px;
    margin-left: -15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.js-form-submit:hover{
    background-color: #484848;
}

#navbar-main {
    background: rgb(189,0,0);
    background: linear-gradient(90deg, rgba(189,0,0,1) 0%, rgba(139,37,37,1) 100%);
}
#edit-keys--2, #edit-keys{
    padding: 5px 0.75rem;
}
.list-group-item{
    background-color: transparent;
}

#edit-basic {
    display: flex;
}

.movies-footer{
    background: rgb(189,0,0);
    background: linear-gradient(90deg, rgba(189,0,0,1) 0%, rgba(139,37,37,1) 100%);
}