{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<button data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Search" class="c-search-button button js-form-submit form-submit">{{ safe_value_label | raw }}</button>{{ children }}
